img{
    width: 60%;
    margin : auto;
}

.block
{
    display: block;
}

.card
{
    margin: auto;
    width : 600px;
}
label
{
    background-color: blanchedalmond
}
.mat-raised-button
{
    background-color: antiquewhite
}